* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #fdd275;
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    background-color: #ffc762;
  }
  
  .texto .linea {
    background-color: white;
    height: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
  
  .texto .grande { width: 140px; background-color: #ffc762; }
  .texto .mediana { width: 180px; }
  .texto .chica { width: 120px; }
  
  main {
    padding: 40px 20px;
  }
  
  .grid-cajas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fuerza 3 columnas */
    gap: 30px;
    justify-content: center;
    padding: 20px;
  }
  
  .caja {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
  }
  
  .celeste { background-color: #b8efff; }
  .naranja { background-color: #ffa282; }
  .amarillo { background-color: #ffd35b; }
  
  footer {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    flex-wrap: wrap;
  }
  
  .footer-box {
    width: 80px;
    height: 50px;
    background-color: #ccc;
    border-radius: 6px;
  }
  